body{
    background: #eee;
}

.reddit-list {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.reddit-item {
    background: #fff;
    padding: 20px;
}

div.counter {
    padding: 10px;
    border: 1px solid;
    display: inline-block;
}

div.image {
    padding: 10px;
    border: 1px solid;
    display: inline-block;
}

div.content {
    width: 60%;
    padding: 10px;
    border: 1px solid;
    display: inline-block;
}

.static-item {
    margin: 0 3%;
}

.up-arrow, count, .down-arrow{
    display: block;
}

div.counter, div.image, div.content {
    margin-right: 5%;
}

.title, .time-user-detail, .detail-line {
    margin: 5% 0;
}

